# Terraform
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Variables sensíveis
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan
*.tfplan
plan.out

# CLI config
.terraformrc
terraform.rc

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log